<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Student Management Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../public/css/main.css" />
</head>
<body>

    <!-- -----------------    Nav Bar  ------------------------  -->

    <div class="container">
        <span style="margin:0%;padding:0%; width:15vw;height:100%;display:inline-block;">
            <img id="logo" src="../public/images/logo.png">
        </span>
        <span style="height:13vh; display: inline-block; position:absolute; margin:0%">
            <h3 id="cname">National Institute of Technology, Kurukshetra</h3>
        </span>
        <span style="height:13vh; float:right; margin:0%">
            <h2 style="color:white; margin:0%; padding-top:4.5vh; padding-right:10vw; margin:0%">Student Management Portal</h2>
        </span>
    </div>


    <!--  -------------- Login Form ---------------------------  -->
    <div class="login">
        sds
    </div>

</body>
</html>